appdirs==1.4.3
cycler==0.10.0
Cython==0.25.2
fbprophet==0.1.1
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
pystan==2.15.0.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
